h1 {
    font-size:70px;
    color: white;
    font-family: "PMingLiU";
    font-weight: "bold";
    font-weight: 900;
    text-shadow: 5px 5px 5px black;
    position: relative;
}

h1.fadeIn span{
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 3s ease-out forwards;
    display:inline-block;
  }
  
  @keyframes fadeIn{
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }

  #first {
    background-image: url(f1.jpg);
    height: 110vh;
    filter: grayscale(30%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    font-size: 22px;
    color: white;
    font-family: "PMingLiU";
    font-weight: "bold";
    text-align: left;
}

#second {
    background-image: url(as7.jpg);
    height: 110vh;
    filter: grayscale(30%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {
    font-size:50px;
    color: white;
    font-family: "PMingLiU";
    font-weight: "bold";
    top: 20px;
    font-weight: 900;
    text-shadow: 5px 5px 5px black;
    position: relative;
}

p2 {
    position: relative;
    top: 60px;
    width: 40%;
    font-weight: 600;
    font-size: 22px;
    color: white;
    font-family: "PMingLiU";
    font-weight: "bold";
}

#third {
    background-image: url(as8.jpg);
    height: 110vh;
    filter: grayscale(70%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p3 {
    position: relative;
    top: 40px;
    width: 40%;
    font-weight: 600;
    font-size: 22px;
    color: white;
    font-family: "PMingLiU";
    font-weight: "bold";
}

#forth {
    background-image: url(as6.jpg);
    height: 110vh;
    filter: grayscale(70%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#fifth {
    background-image: url(newspaper.jpg) ;
    height: 100vh;
    filter: grayscale(100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size:contain;
}

p4 {
    position: relative;
    top: 70px;
    width: 40%;
    font-weight: 600;
    font-size: 22px;
    color: white;
    font-family: "PMingLiU";
    font-weight:normal;
}